.topnav{
	overflow: hidden;
	background-color: #2466ae;
}

.topnav a{
	text-decoration: none;
	color: white;
	padding: 14px 30px;
	font-size: 25px;
	float: left;

}

.topnav a:hover{
	transition: 0.2s;
	color: white;
	background-color: #1b4d83;
}

.topnav .login{
	float: right;
}

.topnav a.active{
	background-color: #1b4d83;
}

.company{
	background-color: #34367e;
	overflow: hidden;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.company a{
	font-size: 50px;
	text-decoration: none;
	color: white;
}

.company a:hover{
	transition: 0.2s;
	color: #828282;
}

.topnav button{
	text-decoration: none;
	color: white;
	padding: .725% 30px;
	font-size: 25px;
	float: left;
	border: none;
	background-color: #2466ae;
	
}

button:focus {outline:0;}

.topnav button:hover{
	transition: 0.2s;
	color: white;
	background-color: #1b4d83;
}